*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* erreurs */
.err{
    background-color: rgb(252, 131, 131);
    padding: 10px;
    width: 90%;
    color: white;
    margin: auto;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
}
.success{
    background-color: rgb(56, 205, 30) ;
    padding: 10px;
    width: 90%;
    color: white;
    margin: auto;
    font-size: 18px;
    border: solid 1px black;
    border-radius: 5px;
}
/* erreurs */


form{
    width: 100%;
}

fieldset {
    width: 90%;
    margin: auto;
    border : solid 2px black ;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 15px;
    color:white;
}




.btn{
    grid-column:1/3;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.radios input{
   width: 15px;
   height: 15px;
   margin: 5px;
   
}  
.radios{
    color :white ;
    grid-column:1/3;
    width: 95%;
}

fieldset div {
    width: 90%;
    margin: auto;
}
fieldset div input,.select{
    width: 100%;
    border: solid black 1px ;
    outline: none;
    padding: 13px;
    border-radius:5px ;
    margin: 8px 0;
    font-size: 16px;
    transition: 1s;
    color :black ;
}

input::placeholder{
    color: rgba(51, 51, 51, 0.684);
}


fieldset input:not(.radios input):focus , .serch input:focus{
    transform: scale(1.02);
    
}

legend{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-weight: bold;
}

.serch{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serch input:first-child{
    width: 75%;
    border: solid black 1px ;
    outline: none;
    padding: 10px 5px;
    border-radius:5px ;
    margin: 10px 0;
    font-size: 16px;
    transition: 1s;
    color :black ;
}
.serch input:last-child{
    border: none ;
    display: inline-block;
    background-color: black ;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    color:white ;
    width: 250px;
    margin-left: 10px ;

    
    
}




.btn{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.btn input{
    border: none ;
    display: inline-block;
    width: 300px;
    margin: 10px ;
    background-color: black ;
    /* padding: 3% 8%; */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    color:white ;
}
.btn input:hover , .serch input:last-child:hover {
    transform: scale(1.03);
}

.table{
    width: 90%;
    margin: auto;
    
}
.affichage{
    overflow: auto;
}


table,th,td{
    border: solid black 0.5px;
    border-collapse: collapse;
    padding: 5px;
    
}

td{
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.604);
    color: white;
    transition: 0.5s;

}
td:hover{
    transform:scale(1.03);
    background-color: black;
    
}
th{
    text-transform: uppercase;
    background-color: black;
    color: white;
}
td a{
    display: inline-block;
    text-decoration: none;
    color :white ; 
    border-radius: 5px;
}
.red{
    background-color: rgb(246, 43, 43);
    padding: 5px;
}
.green{
    background-color: rgb(56, 205, 30) ;;
    padding: 5px;
}

body{
    background-color: rgb(101, 172, 249);
    margin-bottom: 300px;
}


